<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xc.justforjoy.mapper.IStudentDao">
	<resultMap id="StudentMap" type="com.xc.justforjoy.entity.Student">
		<id column="id" property="id"></id>
		<result column="stu_no" property="stuNo"></result>
		<result column="stu_age" property="stuAge"></result>
		<result column="stu_name" property="stuName"></result>
		<result column="gra_name" property="graName"></result>
	</resultMap>
	<!-- 根据学号查询一个学生 -->
	<select id="queryStudentByNo" parameterType="int" resultMap="StudentMap">
		select
		id,
		stu_no,
		stu_name,
		stu_age,
		gra_name
		from student
		where stu_no=#{stuNo}
	</select>

</mapper>